nltk
pdfminer3
pyresparser
streamlit
pandas
pafy
plotly
pymysql
streamlit-tags
Pillow
resume-parser
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
importlib-metadata==3.2.0
youtube-dl
-e git+git://github.com/mohamed-challal/pafy.git@develop#egg=pafy
